name: Functional tests using Ragger and latest speculos

on:
  workflow_call:
    inputs:
      app_repository:
        required: false
        default: ${{ github.repository }}
        type: string
      app_branch_name:
        required: false
        default: ${{ github.ref }}
        type: string
      test_dir:
        required: true
        type: string
      speculos_app_branch_name:
        required: false
        default: master
        type: string

jobs:
  build_application:
    name: Build application using the reusable workflow
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_build.yml@v1
    with:
      app_repository: ${{ inputs.app_repository }}
      app_branch_name: ${{ inputs.app_branch_name }}
      upload_app_binaries_artifact: "compiled_app_binaries"

  build_docker_image:
    name: Build Speculos Docker image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Clone
      uses: actions/checkout@v4
      with:
          ref: ${{ inputs.speculos_app_branch_name }}
          submodules: recursive
          fetch-depth: 0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build the Speculos docker
      uses: docker/build-push-action@v4
      with:
        push: false
        tags: ledgerhq/speculos:test
        context: .
        outputs: type=docker,dest=/tmp/speculos_image.tar
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: speculos_image
        path: /tmp/speculos_image.tar

  ragger_tests:
    name: Functional tests with Ragger
    runs-on: ubuntu-latest
    needs: [build_docker_image, build_application]
    strategy:
      fail-fast: false
      matrix:
        include:
          - device: nanos
          - device: nanox
          - device: nanosp
          - device: stax
    steps:
    - name: Clone
      uses: actions/checkout@v4
      with:
          repository: ledgerHQ/speculos
          ref: ${{ inputs.speculos_app_branch_name }}
          submodules: recursive
          fetch-depth: 0

    - name: Clone
      uses: actions/checkout@v4
      with:
          repository: ${{ inputs.app_repository }}
          ref: ${{ inputs.app_branch_name }}
          path: app
          submodules: recursive
          fetch-depth: 0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: speculos_image
        path: /tmp

    - name: Load image
      run: |
        docker load --input /tmp/speculos_image.tar
        docker image ls -a

    - name: Download app binaries
      uses: actions/download-artifact@v3
      with:
        name: "compiled_app_binaries"
        path: ${{ github.workspace }}/app/build

    - name: Run and test Speculos docker
      uses: addnab/docker-run-action@v3
      with:
        image: ledgerhq/speculos:test
        options: -v ${{ github.workspace }}/app:/app
        run: |
            apt-get update && apt-get install -y gcc
            pip install --extra-index-url https://test.pypi.org/simple/ -r /app/${{ inputs.test_dir }}/requirements.txt
            pytest /app/${{ inputs.test_dir }}/ --tb=short -v --device ${{ matrix.device }}
