# Build speculos-builder and push the resulting docker image to GitHub Packages

name: Speculos Builder

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/speculos-builder.yml
      - build.Dockerfile

jobs:
  build:
    name: Build and push speculos-builder image
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
    - name: Clone
      uses: actions/checkout@v2

    - name: Build and push speculos-builder to GitHub Packages
      uses: docker/build-push-action@v1
      with:
        dockerfile: build.Dockerfile
        repository: ledgerhq/speculos-builder
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        tag_with_sha: true
        tags: latest
